button-color = #9D3D34
border-color = darken(button-color, 10)

long-shadow(w, c)
  tmp = ''
  for _w in (1..w)
    tmp += 1px*_w 1px*_w c
    if _w < w
      tmp += ', '
  text-shadow unquote(tmp)

h1.counter
  background       button-color
  border           solid 5px border-color
  border-radius    15px
  color            #fff
  cursor           pointer
  flex-grow        1
  font-size        5em
  margin           10px
  overflow         hidden
  padding          40px
  text-align       center
  transition       all .3s
  user-select      none

h1.counter:hover
  flex-grow        3
  long-shadow      120px border-color
